.left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 80px;
      background-color: #65a30d;
    }

    .left-text {
      max-width: 500px;
    }

    .left-text h2 {
      font-size: 38px;
      margin-bottom: 15px;
      color: #f0fdf4;
    }

    .left-text p {
      font-size: 18px;
      color: #f0fdf4;
      margin-bottom: 20px;
    }
   .search-bar {
      display: flex;
    }

    .search-bar input {
      padding: 12px;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px 0 0 5px;
      outline: none;
    }

    .search-bar button {
      background-color: #4ade80;
      color: black;
      border: none;
      padding: 12px 20px;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-weight: bold;
    }

    .right-image {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .right-image img {
      width: 420px;
      max-width: 100%;
      border-radius: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      transition: transform 0.3s ease;

    }
   

    