.footer {
      padding: 40px 100px;
      background-color: #f0fdf4;
    }

    .footer-logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .logo-icon {
      background-color: #65a30d;
      color: white;
      font-weight: bold;
      font-size: 24px;
      padding: 12px 18px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo-text {
      color: #65a30d;
      font-size: 28px;
      font-weight: 600;
      margin: 0;
      line-height: 1;
    }

    .copyright {
      margin-top: 5px;
      font-size: 14px;
      color: #777;
    }


    .footer-columns {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 60px;
      margin-top: 40px;
    }

    .footer-columns h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .footer-columns ul {
      list-style: none;
      padding: 0;
    }

    .footer-columns ul li {
      margin-bottom: 10px;
      font-size: 14px;
      color: #555;
      cursor: pointer;
    }

    .footer-columns ul li:hover {
      text-decoration: underline;
    }

    .city-dropdown {
      margin-top: 10px;
      padding: 5px 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }

    .social-icons i {
      font-size: 18px;
      margin-right: 12px;
      color: #444;
      cursor: pointer;
    }

    .social-icons i:hover {
      color: #65a30d;
    }

    hr {
      margin: 40px 0;
      border: 0.5px solid #ddd;
    }

    .download-section {
      text-align: center;
    }

    .download-section p {
      font-weight: 600;
      font-size: 20px;
      color: #333;
    }

    .store-buttons {
      margin-top: 20px;
    }

    .store-buttons img {
      height: 60px;
      margin: 0 10px;
    }